*{
    padding: 0;
    margin: 0;
}
body{
    background: #dfe5e9;
}
.title{
    text-align: center;
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    color: rgb(68, 86, 140);
}
#game{
   padding-top: 10px;
    width: 400px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
}
#character{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: 400px;
    left: 190px;
    z-index: 1000000;
}

.block{
    width: 400px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 100px;
    margin-top: -20px;
}
.hole{
    width: 40px;
    height: 20px;
    background-color: #dfe5e9;
    position: relative;
    top: 100px;
    margin-top: -20px;
}
button{
    width: 150px;
    padding: 10px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 70px;
    border: none;
    border-radius: 5px;
    background-color: #095484;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}



